\#*
*~
*.d
*.o
*.so
*.pcm
*.pdf
*.png
*par
*.Dict.*
*.temp
.deps
*root
BatchMerger
*.eps
MainFullReco
MainInvMass
*gz
*debug
*log*
src/Genfit2_v1/build
src/Genfit2_v1/build1
src/Genfit2_v1/doc/html
src/Genfit2_v1/doc/latex
src/Genfit2_v1/include
src/Genfit2_v1/lib
src/Genfit2_v1/env.sh
